!!!

%h1 Text-Reader

%form{action: '/upload', method: 'POST',
      id: 'photo-form', enctype: 'multipart/form-data'}

  %input{type: 'file', capture: 'camera', accept: 'image/*',
         id: 'camera-input', name: 'cameraInput'}
  %input{type: 'submit', value: 'Upload', id: "submit-button"}


/ %script{src: "app.js", type: "text/javascript"}
