!!!
%html
  %head
    %link{rel: 'stylesheet', href: 'styles.css', type: 'text/css'}
  %body
    %h1 Text-Reader

    %form{action: '/', method: 'POST',
          id: 'photo-form', enctype: 'multipart/form-data'}

      %input{type: 'file', capture: 'camera', accept: 'image/*',
             id: 'camera-input', name: 'cameraInput'}
      %input{type: 'submit', value: 'Upload', id: "submit-button"}

    .text{id: "text-container", value: @text}

    - if @text
      %button{id: "stop"} Stop
      %button{id: "play"} Play

    %script{src: "http://code.responsivevoice.org/responsivevoice.js", type: "text/javascript"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", type: "text/javascript"}

    :javascript
      $(function() {
        $("#submit-button").click(function(e) {
          e.preventDefault();
          if ($("#camera-input").val() == "") {
            alert("You must first choose an image to upload");
          } else {
            $("#photo-form").submit();
          }
        });

        var text = $("#text-container").attr("value");

        if (text) {
          responsiveVoice.speak(text);
        }

        $("#stop").click(function() {
          responsiveVoice.cancel();
        });

        $("#play").click(function() {
          responsiveVoice.speak(text);
        });
      });
