!!!

%h1 Text-Reader

%form{action: '/', method: 'POST',
      id: 'photo-form', enctype: 'multipart/form-data'}

  %input{type: 'file', capture: 'camera', accept: 'image/*',
         id: 'camera-input', name: 'cameraInput'}
  %input{type: 'submit', value: 'Upload', id: "submit-button"}

.text{id: "text-container", value: @text}

- if @text
  %button{id: "cancel-voice"} Stop talking
  %button{id: "play-again"} Play again

%script{src: "http://code.responsivevoice.org/responsivevoice.js", type: "text/javascript"}
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", type: "text/javascript"}

:javascript
  $(function() {
    responsiveVoice.cancel();

    var text = $("#text-container").attr("value");
    debugger;
    if (text) {
      debugger;
      responsiveVoice.speak(text);
    }

    $("#cancel-voice").click(function() {
      responsiveVoice.cancel();
    });

    $("#play-again").click(function() {
      responsiveVoice.speak(text);
    });
  });
