html {
  text-align: center;
}

button, input {
  font-size: 64px;
  background-color: oldlace;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 95%;
  height: 300px;
}

h1 {
  font-family: tahoma;
}

